## Q5

In [4]:
grade = int(input("Enter your grade: "))
if grade < 25:
    print ("F")
elif (grade >= 25) and (grade < 45):
    print ("E")
elif (grade >=45) and (grade < 50):
    print ("D")
elif (grade >= 50) and (grade < 60):
    print ("C")
elif (grade >= 60) and (grade < 80):
    print ("B")
else:
    print ("A")

C

## Q6

In [5]:
first_age = int(input("Enter first age: "))
second_age = int(input("Enter second age: "))
third_age = int(input("Enter third age: "))

if first_age >= second_age and first_age >= third_age:
    print ("The oldest is: " , first_age)
elif second_age >=first_age and second_age >= third_age:
    print ("The oldest is: " , second_age)
elif third_age >= first_age and third_age >= second_age:
    print ("The oldest is: " , third_age)
else:
    print ("All us equal")

The oldest is:  9

## Q7

In [7]:
num = int(input("Enter a number: "))
print ("The absolute value of your number is: " , abs(num))

The absolute value of your number is:  2

## Level 2 Q1

In [11]:
year = int(input("Enter a year: "))
if year%100 ==0:
    if year%400 ==0:
            print ("It's a leap year")
    else:
        print ("It's not a leap year")
elif year%4 ==0:
    print ("It's a leap year")
else:
    ("It's not a leap year")

It's not a leap year

## Level 2 Q2

In [15]:
age = int(input("Enter your age: "))
sex = input("Enter your sex, 'F' for female  and 'M' for man")
m_status = input("Enter your marital status - 'Y' or 'N'")

if sex == 'F' and age > 20 and age < 60 or (age >= 40 and age < 60):
    print("Work in urban areas")
elif age > 20 and age < 40:
    print ("May work in anywhere")
else: 
    print ("Error")

Error

## EX 2

In [5]:
year = 2022
def name_age():
    print("Enter your name: ")
    name = input()
    print("Enter your surname: ")
    surname = input()
    print("Enter your birth year: ")
    b_year = int(input())
    initials = name[0] + surname[0]
    age = year - b_year
    print("Your initials are: " , initials , "and your age is: " , age)

name_age()

Enter your name:
Enter your surname:
Enter your birth year:
Your initials are:  HG and your age is:  33

## EX functions in #4

### Q1

In [7]:
def name_age(name, age):
    print("Your name is: " , name , "and your age is: " , age)

name_age("Hadas", 33)

Your name is:  Hadas and your age is:  33

### Q2

In [8]:
def func_1(*num):
    for i in num:
        print(i)

func_1(3, 10, 50)

3
10
50

### Q3

In [9]:
def calculation(num_1, num_2):
    return num_1+num_2, num_1-num_2

### Q4

In [10]:
def show_employee(name, salary=9000):
    print("Name: " , name , "Salary: " , salary)

show_employee("Hadas Shabat")

Name:  Hadas Shabat Salary:  9000