## Ex1- creating a new list from two lists in one line of code

In [5]:
movie = ['The Notebook', 'Maleficent', 'Batman v Superman', 'Black Swan', 'Gone Girl', 'War of the world', 'Just Married']
actress = ['Rachel McAdams', 'Angelina Jolie', 'Gal Gadot', 'Natalie Portman', 'Rosamund Pike', 'Dakota Fanning', 'Brittany Murphy']
my_list = [list(map(lambda x,y: x+' is palyed by '+y, movie, actress))]
print (my_list)

[['The Notebook is palyed by Rachel McAdams', 'Maleficent is palyed by Angelina Jolie', 'Batman v Superman is palyed by Gal Gadot', 'Black Swan is palyed by Natalie Portman', 'Gone Girl is palyed by Rosamund Pike', 'War of the world is palyed by Dakota Fanning', 'Just Married is palyed by Brittany Murphy']]

In [13]:
# Solution
[movie+' is played by '+actress for (movie, actress) in zip(movie, actress)]

['The Notebook is played by Rachel McAdams',
 'Maleficent is played by Angelina Jolie',
 'Batman v Superman is played by Gal Gadot',
 'Black Swan is played by Natalie Portman',
 'Gone Girl is played by Rosamund Pike',
 'War of the world is played by Dakota Fanning',
 'Just Married is played by Brittany Murphy']

## Ex2- creating a dictionary from the two lists above

In [8]:
movies = dict(zip(movie, actress))
print(movies)

{'The Notebook': 'Rachel McAdams', 'Maleficent': 'Angelina Jolie', 'Batman v Superman': 'Gal Gadot', 'Black Swan': 'Natalie Portman', 'Gone Girl': 'Rosamund Pike', 'War of the world': 'Dakota Fanning', 'Just Married': 'Brittany Murphy'}

In [17]:
# solution
movies = {k:v for (k,v) in zip(movie,actress)}

## Ex3- write a single line code that will represent the same list as in ex1

In [12]:
(print(movie_actress) for movie_actress in movies)

In [18]:
# solution
[k+' is played by '+v for (k,v) in movies.items()]

['The Notebook is played by Rachel McAdams',
 'Maleficent is played by Angelina Jolie',
 'Batman v Superman is played by Gal Gadot',
 'Black Swan is played by Natalie Portman',
 'Gone Girl is played by Rosamund Pike',
 'War of the world is played by Dakota Fanning',
 'Just Married is played by Brittany Murphy']

## Ex4

In [20]:
my_list = [num*100 for num in range(1,10) if num%2 == 0]
print(my_list)

[200, 400, 600, 800]

In [34]:
# convert
list(map(lambda num:num*100, filter(lambda num:num%2 ==0, range(1,10))))

[200, 400, 600, 800]

## Ex5

In [30]:
my_list = [x*100 if x %2 == 0 else x for x in range(1,10)]
print(my_list)

[1, 200, 3, 400, 5, 600, 7, 800, 9]

In [35]:
#convert
list(map(lambda x: x*100 if x %2 ==0 else x, range(1,10)))

[1, 200, 3, 400, 5, 600, 7, 800, 9]

## Ex6- 7 boom

In [33]:
my_list = ['Boom' if x%7 == 0 else x for x in range(1,100)]

In [36]:
# convert
list(map(lambda x: 'Boom' if x%7 == 0 else x, range(1,100)))

[1,
 2,
 3,
 4,
 5,
 6,
 'Boom',
 8,
 9,
 10,
 11,
 12,
 13,
 'Boom',
 15,
 16,
 17,
 18,
 19,
 20,
 'Boom',
 22,
 23,
 24,
 25,
 26,
 27,
 'Boom',
 29,
 30,
 31,
 32,
 33,
 34,
 'Boom',
 36,
 37,
 38,
 39,
 40,
 41,
 'Boom',
 43,
 44,
 45,
 46,
 47,
 48,
 'Boom',
 50,
 51,
 52,
 53,
 54,
 55,
 'Boom',
 57,
 58,
 59,
 60,
 61,
 62,
 'Boom',
 64,
 65,
 66,
 67,
 68,
 69,
 'Boom',
 71,
 72,
 73,
 74,
 75,
 76,
 'Boom',
 78,
 79,
 80,
 81,
 82,
 83,
 'Boom',
 85,
 86,
 87,
 88,
 89,
 90,
 'Boom',
 92,
 93,
 94,
 95,
 96,
 97,
 'Boom',
 99]

## Ex7

In [38]:
x=5
y=7
sum_num = lambda x,y: x+y

## Ex8- list of tuples

In [5]:
[(x,y) for x in range(1,7) for y in range(1,7)]

[(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)]

## Ex 9- a list of tuples- Joules, Kilocalories

In [6]:
joules = [5000, 8000, 10000, 6000, 12000]
[(x,x/4184) for x in joules]

[(5000, 1.1950286806883366),
 (8000, 1.9120458891013383),
 (10000, 2.390057361376673),
 (6000, 1.4340344168260037),
 (12000, 2.8680688336520075)]

In [7]:
# convert
[(x, lambda x: x/4184) for x in joules]

[(5000, <function __main__.<listcomp>.<lambda>(x)>),
 (8000, <function __main__.<listcomp>.<lambda>(x)>),
 (10000, <function __main__.<listcomp>.<lambda>(x)>),
 (6000, <function __main__.<listcomp>.<lambda>(x)>),
 (12000, <function __main__.<listcomp>.<lambda>(x)>)]

In [8]:
# solution
[(j, cal) for (j,cal) in zip(joules, map(lambda j:j/4184, joules))]

[(j, cal) for (j, cal) in zip(joules,[j/4184 for j in joules])]

[(5000, 1.1950286806883366),
 (8000, 1.9120458891013383),
 (10000, 2.390057361376673),
 (6000, 1.4340344168260037),
 (12000, 2.8680688336520075)]

## Ex 10

In [9]:
languages = ['HTML', 'JavaScript', 'Python', 'Ruby']
print(list(filter(lambda lang: lang == 'Python', languages)))

['Python']

In [10]:
# convert
[word for word in languages if word == 'Python']

['Python']

## Ex1- Anagrams

In [13]:
def is_anagram(str1, str2):
    str1_list = list(str1)
    str2_list = list(str2)

    return sorted(str1_list) == sorted(str2_list)

print(is_anagram('cat', 'rat'))

False

In [18]:
def is_anagram_convert(str1, str2):
    answer = filter(lambda x: sorted(str1) == sorted(x), str2)
    return answer

print (is_anagram_convert('listen', 'nestli'))

<filter object at 0x7feb40573e80>

## Ex2- Roman Numerals

Write a code that receives a roman numeral and converts it into a number

In [14]:
roman_dict = {'I':1, 'V':5, 'X':10, 'L':50, 'C':100, 'D':500, 'M':1000}

def roman_num(str1):
    old_num = roman_dict[str1[0]]
    final_num = 0
    for letter in str1:
        num = roman_dict[letter]
        if old_num < num:
            final_num = final_num + (num - old_num) - old_num
        else:
            final_num += num
        old_num = num
    print(final_num)

roman_num('LX')

60

## Ex3- Plus1

Write a function that takes a list of numbers and increments it by `1`

In [1]:
def plus1(digits):
    str_digits = ''
    for num in digits:
        str_digits += str(num)
    num_plus1 = int(str_digits)+1
    new_str_digits = str(num_plus1)
    new_list = []
    for digit in new_str_digits:
        new_list.append(int(digit))

    print(new_list)

plus1([8,8,7])

[8, 8, 8]